body {
    font-family: Arial, serif;
    color: whitesmoke;
    background: rgb(51, 51, 68);
}

/* Ссылки */
a {
    color: darkgray;
    text-decoration: none;
}

a:hover {
    color: azure;
}

a:active {
    color: red;
}

/* !Ссылки */
/* Навигационный список */

ul.inline {
    display: flex;
    background: #2E2E3F;
    justify-content: space-around;
    font-size: 1.7vw;
}

ul.inline li a {
    display: block;
    position: relative;
    line-height: 50px;
}

ul.inline li ul {
    display: none;
    position: absolute;
    margin: 0;
    padding: 5px;
    background: rgba(67, 67, 91, 0.9);
    font-size: 1.2vw;
}

ul.inline li ul li a {
    line-height: 35px;
}

ul.inline li ul li {
    display: block;
}

ul.inline li:hover ul {
    display: block;
}

/* !Навигационный список */
/* Список аппаратов */
main {
    cursor: default;
}

input[type="checkbox"], input + div {
    display: none;
}

input:checked + div {
    display: block;
}

input:not(:checked) + .definitions {
    display: block;
}

input:checked + .definitions {
    display: none;
}

/* Список аппаратов */
/* Определения */

article {
    margin-top: 1em;
}

table {
    background: rgb(46, 46, 63);
    font-family: "Open Sans", sans-serif;
}

td {
    padding: 1rem;
    vertical-align: top;
}

td:hover {
    background: rgb(61, 61, 78);
}

/* !Определения */
/* Описание */

dt {
    margin-left: 1em;
    font-weight: bolder;
}

dd {
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 35em;
}

section {
    margin-top: 1em;
}

li span {
    position: relative;
    left: -30px;
}

.info {
    padding: 20px 0 30px 0;
}

.info div {
    width: 35%;
    text-align: justify;
    text-indent: 30px;
    padding: 0 15px 0 10px;
    transition: box-shadow 0.5s ease-in-out;
}

.info h3 {
    text-align: center;
}

.left {
    margin-left: 80px;
    float: left;
    box-shadow: 0 5px 20px 6px rgba(0, 180, 255, 0.15);
}

.left:hover {
    box-shadow: 0 5px 20px 15px rgba(0, 180, 255, 0.15);
}

.right {
    margin-right: 80px;
    float: right;
    box-shadow: 0 5px 20px 6px rgba(0, 255, 180, 0.1);
}

.right:hover {
    box-shadow: 0 5px 20px 15px rgba(0, 255, 180, 0.1);
}

.bordered {
    border-bottom: 1px solid;
}

/* !Описание */

h2, .showCategory {
    font-size: 26px;
}

/* !Список аппаратов */

footer {
    float: right;
    text-align: right;
}

.contents {
    background: #2E2E3F;
    display: inline-block;
    padding: 0 10px 0 10px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

#arrowUp {
    position: fixed;
    right: 10px;
    top: 10px;
    display: none;
    width: 30px;
}

.back {
    display: block;
    font-size: 30px;
    width: 100%;
}

::-webkit-scrollbar {
    width: 0;
}

.back:hover {
    color: aquamarine;
}