.sputnik1:before {
    content: "«Спутник-1» — первый в мире искусственный спутник Земли, советский космический аппарат, запущенный на орбиту 4 октября 1957 года. Кодовое обозначение спутника — «ПС-1».";
}

.explorer1:before {
    content: "«Эксплорер-1» — искусственный спутник Земли, который стал первым ИСЗ, удачно запущенным в США 1 февраля 1958 года в 3:48 UTC командой Вернера фон Брауна. «Эксплорер-1» прекратил радиопередачи 28 февраля 1958 года, находился на орбите до марта 1970 года.";
}

.ariel1:before {
    content: "Ariel 1 — первый британский искусственный спутник Земли. Был успешно запущен с космодрома на мысе Канаверел 26 апреля 1962 года.";
}

.asterix:before {
    content: "«Астерикс» — первый французский искусственный спутник Земли, предназначался, в первую очередь, для испытания ракеты-носителя. Был запущен с французского космодрома Хаммагир в Алжире 26 ноября 1965 года с помощью сконструированной самостоятельно французской ракеты-носителя «Диамант-А».";
}