@media screen and (max-width: 1024px) {
    .navigation a {
        font-size: 1.8vw;
    }

    .container a img {
        width: 250px;
        height: 150px;
    }
}

@media screen and (max-width: 970px) {
    .definitions div {
        flex-basis: 45%;
    }
}

@media screen and (max-width: 850px) {
    .definitions {
        font-size: 14px;
    }
}

@media screen and (max-width: 660px) {
    .definitions div {
        flex-basis: 90%;
    }

    #arrowUp {
        visibility: hidden;
    }

    .navigation a {
        font-size: 3.0vw;
    }

    .navigation.main, header > div {
        display: none;
    }

    .navigation.burger {
        visibility: visible;
    }
}

@media screen and (max-width: 605px) {
    .container a img {
        width: 200px;
        height: 150px;
    }

    .container a:before {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 500px) {
    .container a img {
        width: 40vw;
        height: 30vw;
    }
}

@media screen and (max-width: 443px) {
    .navigation.burger a {
        font-size: 13px;
        line-height: 30px;
    }

    .container a img {
        width: 60vw;
        height: 40vw;
    }
}