body {
    font-family: Arial, serif;
    color: whitesmoke;
    background: rgb(51, 51, 68);
    cursor: default;
}

/* Ссылки */

a {
    color: darkgray;
    text-decoration: none;
}

a:hover {
    color: azure;
}

a:active {
    color: red;
}

/* !Ссылки */

section {
    margin-top: 1em;
}

h2 {
    font-size: 26px;
}

footer {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer a:has(img) {
    border-radius: 20px;
    height: 40px;
}

footer img {
    width: 40px;
}

footer img:hover {
    filter: brightness(1.3);
}

.text-center {
    text-align: center;
}

#arrowUp {
    position: fixed;
    right: 10px;
    top: 10px;
    display: none;
    width: 30px;
    font-size: 30px;
}

#arrowUp:hover {
    color: aquamarine;
}

::-webkit-scrollbar {
    display: none;
}